.team-list {
  &__item {
    width: 480px;

    background-color: $color-bg-primary;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__meta {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    &__item {
      display: block;
      width: 100%;
    }

    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
      width: calc((100% - 30px) / 2);
    }
  }

  @media screen and (min-width: 1200px) {
    &__item {
      width: calc((100% - 90px) / 4);
    }

    &__meta {
      padding-bottom: 30px;
    }
  }

  &__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: $color-text-title;
  }

  &__member-position {
    margin-top: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
  }

  & .socials-list {
    margin-top: 16px;
  }

  & .socials-list__link {
    color: #afb1b8;

    @include customTransition(color, background-color);
  }

  & .socials-list__link:hover,
  & .socials-list__link:focus {
    color: $color-text-secondary;
    background-color: $color-site-accent;
  }
}
