.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &-header {
    border-bottom: 1px solid #ececec;
    padding-top: 0;
    padding-bottom: 0;
  }

  &-hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  &-activity {
    display: none;
  }

  &-team {
    background-color: $color-bg-secondary;
  }

  &-footer {
    background-color: $color-bg-footer;
  }

  &__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;

    color: $color-text-title;
  }

  // @media screen and (max-width: 480px) {
  //   width: 480px;
  // }

  // 769px->
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;

    &-header {
      padding-top: 0;
      padding-bottom: 0;
    }

    &-hero {
      padding-top: 200px;
      padding-bottom: 200px;
    }

    &-features {
      padding-bottom: 0;
    }

    &-activity {
      display: block;
    }

    &-footer {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &__title {
      margin-bottom: 50px;

      font-size: 36px;
      line-height: 1.17;
    }
  }
}
